h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*kguo1d*_ga*OTQ5NjYzOTQ3NS4xNjgwMTI3NTY3*_ga_3LRZM6TM9L*MTY4NjMzNTE3OS41My4xLjE2ODYzMzU3NjEuMC4wLjA.");
}

span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.brushes {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

.frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

.paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}